<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="../static/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>About</title>

	<!--
			Google Font
			============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500i" rel="stylesheet">

	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
	<link rel="stylesheet" href="../static/css/linearicons.css">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/magnific-popup.css">
	<link rel="stylesheet" href="../static/css/nice-select.css">
	<link rel="stylesheet" href="../static/css/animate.min.css">
	<link rel="stylesheet" href="../static/css/owl.carousel.css">
	<link rel="stylesheet" href="../static/css/main.css">
</head>

<body>

	<!-- Start Header Area -->
	<header id="header">
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="{{ url_for('home') }}"><img src="../static/img/logo4.png" alt="" title="" /></a>
                    <a href="{{ url_for('home') }}" style="color: white; font-size: 20px; top: 4px; position: relative">&nbsp;CodeWisdom</a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li><a href="{{ url_for('home') }}">Home</a></li>
						<li><a href="{{ url_for('model') }}">Model</a></li>
						<li class="menu-active"><a href="{{ url_for('about') }}">About</a></li>
					</ul>
				</nav><!-- #nav-menu-container -->
			</div>
		</div>
	</header>
	<!-- End Header Area -->


	<!-- Start Banner Area -->
	<section class="banner-area relative">
		<div class="container">

			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						About Us
					</h1>
					<p>This page mainly introduces the members and other issues </br>related to my graduation project.</p>
					<div class="link-nav">
						<span class="box">
							<a href="{{ url_for('home') }}">Home </a>
							<i class="lnr lnr-arrow-right"></i>
							<a href="{{ url_for('about') }}">About Us</a>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="rocket-img">
			<img src="../static/img/rocket.png" alt="">
		</div>
	</section>
	<!-- End Banner Area -->


	<!-- Start About Area -->
	<section class="about-area section-gap">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-5 col-md-6 about-left">
					<img class="img-fluid" src="../static/img/API.png" alt="" style="height: 350px; width: 800px">
				</div>
				<div class="offset-lg-1 col-lg-6 offset-md-0 col-md-12 about-right">
					<h1>
						API Era is Coming
					</h1>
					<div class="wow fadeIn" data-wow-duration="1s">
						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;With the development of Internet and cloud computing,
                            API business, and business transactions through API in terms of business functions and performance,
                            it promotes the sustainable development of API sharing economy and the continuous improvement of API ecology.
                            </br>&nbsp;&nbsp;&nbsp;&nbsp;A new pattern based on API economy and supported by API ecosystem is affecting all industry users,
                            IT vendors and cloud service providers. API Era is Coming.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Area -->

	<!-- Start Courses Area -->
	<section class="courses-area section-gap">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-5 about-right">
					<h1>
						This is Why <br> I have Solid Idea
					</h1>
					<div class="wow fadeIn" data-wow-duration="1s">
						<br>
							&nbsp;&nbsp;&nbsp;&nbsp;With the increasing number and complexity of API,
                            developers are facing more and more challenges in choosing API and dealing with the problems brought by API.
                            Then, various API tutorials have been created to help developers solve API problems encountered during development.</br>
                            &nbsp;&nbsp;&nbsp;&nbsp;However, these API tutorials still have many deficiencies.
                            Such as the lack of unified norms, knowledge fragmentation, traditional search methods are not effective and so on.
                            Therefore, I will explore ways to improve the API tutorial intelligent search method,
                            to promote the development of intelligent software development technology.
						</p>
					</div>
					<a href="{{ url_for('home') }}" class="primary-btn white">Go to Search</a>
				</div>
				<div class="offset-lg-1 col-lg-6">
					<div class="courses-right">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<ul class="courses-list">
									<li>
										<a class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">
											<i class="fa fa-book"></i> Java
										</a>
									</li>
									<li>
										<a class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
											<i class="fa fa-book"></i> Php
										</a>
									</li>
									<li>
										<a class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
											<i class="fa fa-book"></i> Android
										</a>
									</li>
									<li>
										<a class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s">
											<i class="fa fa-book"></i> MySQL
										</a>
									</li>
									<li>
										<a class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".9s">
											<i class="fa fa-book"></i> Struts
										</a>
									</li>
									<li>
										<a class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.1s">
											<i class="fa fa-book"></i> JQuery
										</a>
									</li>
									<li>
										<a class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1.3s">
											<i class="fa fa-book"></i> Nginx
										</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<ul class="courses-list">
									<li>
										<a class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.3s">
											<i class="fa fa-book"></i> Gtk
										</a>
									</li>
									<li>
										<a class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1.1s">
											<i class="fa fa-book"></i> Bootstrap
										</a>
									</li>
									<li>
										<a class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".9s">
											<i class="fa fa-book"></i> Django
										</a>
									</li>
									<li>
										<a class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".7s">
											<i class="fa fa-book"></i> Hadoop
										</a>
									</li>
									<li>
										<a class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
											<i class="fa fa-book"></i> Spring
										</a>
									</li>
									<li>
										<a class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
											<i class="fa fa-book"></i> Node.js
										</a>
									</li>
									<li>
										<a class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
											<i class="fa fa-book"></i> Maven
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Courses Area -->


    <!-- Start Faculty Area -->
	<section class="faculty-area section-gap" style="background-color: white">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="section-title text-center">
						<h1>Members</h1>
						<p>
							My name is Chengyuan Zhao, an undergraduate majoring in computer science. There are my two graduation project instructors,
                            professor Ping Guo and professor Xin Peng.
						</p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center d-flex align-items-center">
				<div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
					<div class="thumb d-flex justify-content-center">
						<img class="img-fluid" src="../static/img/faculty/zcy.jpg" alt="">
					</div>
					<div class="meta-text text-center" style="background-color: #F1F9FF">
						<h4>Chengyuan Zhao</h4>
						<p class="designation">Undergraduate, Chongqing University</p>
						<div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
							<p>
								Research Interests: <br/>Code Knowledge Graph, Natural Language Processing.
							</p>
						</div>
                        <br/>
						<div class="align-items-center justify-content-center d-flex">
							<a href="https://github.com/zcyzhuangzhou" target="_blank">Homepage</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
					<div class="thumb d-flex justify-content-center">
						<img class="img-fluid" src="../static/img/faculty/guoping.png" alt="">
					</div>
					<div class="meta-text text-center" style="background-color: #F1F9FF">
						<h4>Ping Guo</h4>
						<p class="designation">Professor, Chongqing University</p>
						<div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
							<p>
								Research Interests: <br/>Biological Computing, Artificial Intelligence.
							</p>
						</div>
                        <br/>
                        <br/>
						<div class="align-items-center justify-content-center d-flex">
							<a href="http://www.cs.cqu.edu.cn/info/1138/1255.htm" target="_blank">Homepage</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
					<div class="thumb d-flex justify-content-center">
						<img class="img-fluid" src="../static/img/faculty/PengXin.png" alt="">
					</div>
					<div class="meta-text text-center" style="background-color: #F1F9FF">
						<h4>Xin Peng</h4>
						<p class="designation">Professor, Fudan University</p>
						<div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
							<p>
								Research Interests: <br/>Software Maintenance and Evolution, Intelligent Software Development, Mobile Cloud Computing.
							</p>
						</div>
                        <br/>
						<div class="align-items-center justify-content-center d-flex">
							<a href="http://www.se.fudan.edu.cn/pengxin/" target="_blank">Homepage</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Faculty Area -->


	<!-- Start Footer Area -->
	<footer class="footer-area section-gap" style="height: 20px">
		<div class="container">
            <div>
                <h1 class="text-white" style="text-align: center; top:-80px; position: relative">CONTACT US</h1>
                <p style="color: white; text-align: center; font-size: 18px; top:-30px; position: relative">Please send your email to Chengyuan Zhao (<a href="mailto:2738524026@qq.com">2738524026@qq.com</a>)</p>
			</div>
            <div style="text-align: center; top:-20px; position: relative">
                <p>© CopyRight 2019-2020, fdseapisearch.cn, 版权所有. <a href="http://www.miitbeian.gov.cn/" target="_blank">皖ICP备19007265号</a></p>
            </div>
		</div>
	</footer>
	<!-- End Footer Area -->

	<!-- ####################### Start Scroll to Top Area ####################### -->
	<div id="back-top">
		<a title="Go to Top" href="#"></a>
	</div>
	<!-- ####################### End Scroll to Top Area ####################### -->

	<script src="../static/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="../static/js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="../static/js/easing.min.js"></script>
	<script src="../static/js/hoverIntent.js"></script>
	<script src="../static/js/superfish.min.js"></script>
	<script src="../static/js/jquery.ajaxchimp.min.js"></script>
	<script src="../static/js/jquery.magnific-popup.min.js"></script>
	<script src="../static/js/owl.carousel.min.js"></script>
	<script src="../static/js/owl-carousel-thumb.min.js"></script>
	<script src="../static/js/jquery.sticky.js"></script>
	<script src="../static/js/jquery.nice-select.min.js"></script>
	<script src="../static/js/parallax.min.js"></script>
	<script src="../static/js/waypoints.min.js"></script>
	<script src="../static/js/wow.min.js"></script>
	<script src="../static/js/jquery.counterup.min.js"></script>
	<script src="../static/js/mail-script.js"></script>
	<script src="../static/js/main.js"></script>
</body>

</html>